body{
  overflow-x: hidden;
  overflow-y: hidden;
}


#myCanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 2000px;
    height: 2000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#notifications{
  position: fixed;
  top: 0;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}



.notification{
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 20px;
  font-weight: bold;
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: #CCCCCC;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
}

.notification:hover{
  opacity:1;
  cursor: pointer;
}
